@model MVC_Lab01.Models.Person

@{      
    Layout = "~/Views/_BasicLayout.cshtml";
    ViewBag.Title = "Главная";
}

<div>
    <h1>Здравствуйте, @Model.ToString()! </h1>
    <p>@Html.ActionLink("На главную", "Index")</p>
</div>