@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
ViewData["Title"] = "Index";
}
<div>@ViewBag.Greeting, спасибо, что зашли и @ViewData["Mes"]</div>
<div>@Html.ActionLink("Введите свои данные", "InputData")</div>
<p>@Html.ActionLink("Посмотрите, кто уже здесь", "OutputData")</p>

