@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model MVC_Lab01.Models.Person

<div>
    <form method ="post">
        <table>
            <tr>
                <td>
                    <p>Введите имя :</p>
                </td>
                <td>
                    <input type ="text" name="FirstName" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>Введите фамилию: </p></td>
                <td><input type ="text" name="LastName" /></td>
            </tr>
            <tr>
                <td>
                    <input type ="submit" value="Отправить" />
                </td>
                <td> </td></tr>
        </table>
    </form>
</div>